@media screen {


.titrepage{
background:'';
width:100%;
height:50px;
margin:200px 0 0 0px;
padding:30px 0px 0px 0px;
border-style:solid;
border-width:0px 0px 0px 0px;
border-color:#003333;
}
.titrepage p{
font-family:Verdana, Candara, Calibri;
font-size:15pt;
color:#000;
text-align:center;                                                  
margin:0px;
padding:0;
border:solid 0px;
}

.cadre2{
clear:both;
position:relative; 
border-style:solid;
border-width:0px;
border-color:#008000;
width:950px;
height:'';
padding:0px;
margin:10px auto 0px auto;
}


.image{
float:left;
width:400px;
height:300px;
margin:0px 20px 20px 0px;
border-radius:5px;
}


.cadre2 p{
font-family:Verdana, Candara, Calibri;
font-size:11pt;
color:#000;
text-align:justify;
padding:0px;
margin:0px 0px 30px 0px;
border:solid 0px;
}



.cadre2 span{
font-weight: bold;
}


.cadre2b{
position:relative; 
border-style:solid;
border-width:0px;
border-color:#008000;
width:950px;
height:'';
padding:0px;
margin:30px auto 0px auto;
}

.cadre2b .para2{
margin:20px 0 0 0px;
}

.para3{
margin:20px 0px 20px 0px;
padding:0;
border:solid 0px;
}
.para3 a{
font-family:Candara;
font-size:13pt;
color:#32a920;
text-decoration:none;
text-decoration:underline;
}
.para3 a:hover{
color:#32a920;
text-decoration:underline;
}


.cadre2b img{
float:left;
width:250px;
height:'';
margin:0px 20px 10px 0;
border-radius:5px;
}


hr {
width:900px;
border: 0;
border-bottom: 1px dashed #32a920;
}


.cadre3{
position:relative; 
border-style:solid;
border-width:0px;
border-color:#008000;
width:950px;
height:'';
padding:0px;
margin:30px auto 50px auto;
}


.cadre3 img{
float:left;
width:250px;
height:'';
margin:0px 20px 10px 0;
border-radius:5px;
}



}
